.blue {
    background-color: #3498db;
}
.orange {
    background-color: #e67e22;
}
.green {
    background-color: #2ecc71;
}
.red {
    background-color: #e74c3c;
}
.purple {
    background-color: #9b59b6;
    color: #fff;
}
.yellow {
    background-color: #f1c40f;
}
.teal {
    background-color: #1abc9c;
}
.pink {
    background-color: #ff69b4;
}
.brown {
    background-color: #a52a2a;
    color: #fff;
}
.gray {
    background-color: #95a5a6;
}